.logos {
    background: rgb(73, 69, 69);
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.logos {
    overflow: hidden;
    position: relative;
    padding: 60px 0;
    background: black;
    white-space: nowrap;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-flex;
    animation: 10s slide linear infinite; /* Changed */
}

.logos-slide img {
    height: 150px;
    margin: 0 70px;
}
